.container{
  position: relative;
}
.container-head{
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
}
.heading{
  font-size: 30px;
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.title-underline {
  width: 50px;
  border: 2px solid var(--mainColor);
  transition: 1s;
  margin-left: 60px;
}
.heading:hover ~ .title-underline{
  width: 190px;
  border: 2px solid red;
}
.container{
  position: relative;
}
.banner{
  height: 100vh;
  background:linear-gradient(to bottom, rgb(241, 218, 3, 0.7), rgba(0,0,0, 0.5)), url('../../assets/img/banner.jpeg')center/cover no-repeat fixed;
}
.banner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 80px);
}
.banner-heading{
  font-size: 55px;
  max-width: 700px;
  text-align: center;
  letter-spacing: var(--spacing);
  color: var(--aciqMain);
}
.banner-btn{
  background-color: var(--mainColor);
  cursor: pointer;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 3px;
  transition: all 0.3 ease-in;
}
.banner-btn:hover{
  transform: scale(1.1);
}
.all-nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(241, 218, 3, 0.3);
  padding: 10px;
  width: 100%;
  position: fixed;
  background-color: rgba(241, 218, 3, 0.9);
  padding: 11px;
  z-index: 3;
  top: -5px;
}
.main-nav{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(241, 218, 3, 0.3);
  padding: 10px;
  width: 100%;
  position: fixed;
  z-index: 3;
}
.scroll{
  background-color: rgba(241, 218, 3, 0.9);
  padding: 11px;
}
.logo{
  width: 200px;
  height: 50px;
  border-radius: 3px;
}
.logo img{
  width: 200px;
  height: 50px;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-bars{
  color: black;
  font-size: 30px;
  display: none;
}
@media screen and (max-width:800px){
  .fa-bars{
    display: inherit;
  }
  .nav-menu{
    position: absolute;
    display: none;
    overflow: hidden;
    padding: 0;
    height: 260px;
    top: 70%;
    background-color: var(--aciqMain);
    width: 100%;
  }
  .nav-menu li{
    padding: 0 30px;
  }
  .nav-menu a{
    font-size: 20px;
    width: 100%;
    border-radius: 3px;
  }
}
.nav-menu li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.letters{
  width: 60px;
  /* height: 30px; */
}
.nav-menu a{
  margin-right: 10px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  border-radius: 3px;
}
.nav-menu a:hover{
  cursor: pointer;
  background-color: black;
  color: var(--aciqMain);
}
.nav-menu-hover{
  background-color: black;
  color: var(--aciqMain);
}
.volunteer{
  text-decoration: underline;
  cursor: pointer;
}
.volunteer:hover{
  color: var(--aciqMain);
}
.play{
  padding: 10px 15px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}
.fa-play-circle{
  font-size: 17px;
  margin-right: 10px;
  color: var(--mainColor);
}
.banner{
  height: 100vh;
  background:linear-gradient(to bottom, rgb(241, 218, 3, 0.7), rgba(0,0,0, 0.5)), url('../../assets/img/banner.jpeg')center/cover no-repeat fixed;
}
.banner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 80px);
}
.banner-heading{
  font-size: 55px;
  max-width: 700px;
  text-align: center;
  letter-spacing: var(--spacing);
  color: var(--aciqMain);
}
.banner-btn{
  background-color: var(--mainColor);
  cursor: pointer;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 3px;
  transition: all 0.3 ease-in;
}
.banner-btn:hover{
  transform: scale(1.1);
}